header{
    width: 100%;
    max-width: 1700px;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #213933;
    font-size: 17px;
    transition: 0.5s;
}
a:hover{
    color: darkcyan;
}
nav h1{
    font-size: 20px;
    color: #184639;
}
