header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 30px;
}
#menu-icon{
    font-size: 35px;
    color: #000;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.list{
    display: flex;
    gap: 20px;
    list-style: none;
}

.list li{
    background: #fff;
}
.list li a{
    display: block;
    padding: 16px 32px;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
@media(max-width:768px){
    .list{
        gap: 10px;
    }
    .list li a{
        padding: 10px 20px;
    }
}
@media(max-width:430px){
    #menu-icon{
        display: block;
        
    }
    header{
        align-items: start;
        justify-content: space-between;
        margin-left: 20px;
        flex-direction: row;
    }
    .list{
        position: relative;
        right: -130%;
        flex-direction: column;
    }
    .list.open{
        right: 10%;
    }
    .list li a{
        font-size: 12px;
    }
}