@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
}
:root{
    --fonte-principal: "Roboto", sans-serif;
    --var1: #333333;
    --var2: #BDBDBD;
    --var3: #FBFBFB;
    --var4: #F3F3F3;
    --var5: #2C2C2C;
}
img{
    width: 100%;
}