#servicos{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#servicos > h1{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #154639;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cards img{
    width: 12%;
}
.cards h1{
    color: #1C3D34;
    font-weight: bold;
    font-size: 25px;
}
.cards{
    background: #FAFCFD;
    width: 250px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2D4F47;
    border-radius: 20px;
}

@media (max-width: 2150px){
    #servicos > h1{
        margin-bottom: 60px;
    }
    #servicos{
        height: 60vh;
    }
    .container{
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
@media(max-width: 900px){
    .container{
        flex-direction: column;
        width: auto;
    }
    #servicos{
        height: 130vh;
    }
    .cards{
        width: 350px;
    }
}
@media(max-width: 768px){
    #servicos{
        height: 130vh;
    }
    .cards{
        width: 270px;
    }
}