footer{
    width: 100%;
    padding: 20px;
    background: #043D2C;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}